[Desktop Entry]
GenericName[da]=Justering af farvetemperatur
Icon=redshift
Comment[it]=Strumento per la regolazione della temperatura del colore
GenericName[pl]=Dostosowanie temperatury barwowej
Comment[hu]=Színhőmérséklet beállító eszköz
GenericName[es]=Ajuste de la temperatura de color
Name[hu]=Redshift
Name[pt_BR]=Redshift
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
GenericName[de]=Farbtemperatur Anpassung
Name=Redshift
Name[zh_CN]=红移
Comment[tr]=Renk sıcaklığı ayarlama aracı
GenericName[cs]=Přizpůsobení barevné teploty
Name[ru]=Redshift
GenericName[fr]=Réglage de la température de couleur
Exec=redshift-gtk
Type=Application
GenericName=Color temperature adjustment
Comment[es]=Herramienta para el ajuste de la temperatura de color
Comment[ru]=Инструмент регулирования цветовой температуры
Name[tr]=Redshift
Terminal=false
Version=1.0
GenericName[hu]=Szín hőmérséklet beállítás
Name[de]=Redshift
GenericName[ru]=Настройка цветовой температуры
Comment[fr]=Outil de réglage de la température de couleur
GenericName[tr]=Renk sıcaklığı ayarı
Name[es]=Redshift
GenericName[it]=Regolazione della temperatura del colore
X-GNOME-Autostart-enabled=false
Name[lt]=Redshift
Comment=Color temperature adjustment tool
Name[fr]=Redshift
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
StartupNotify=true
Name[pl]=Redshift
Comment[da]=Justeringsværktøj for farvetemperatur
Hidden=true
GenericName[zh_CN]=色温调节
GenericName[lt]=Spalvos temperatūros reguliavimas
Comment[de]=Farbtemperatur Anpassungswerkzeug
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Categories=Utility;
Comment[zh_CN]=色温调节工具
GenericName[nl]=Kleurtemperatuur aanpassing
Name[it]=Redshift

