[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mjestes/Desktop/xfce-settings-manager.desktop]
row=2
col=0

[/home/mjestes/Desktop/terminator.desktop]
row=3
col=0

[/home/mjestes/Desktop/steam.desktop]
row=4
col=0

[/]
row=0
col=0

[/home/mjestes]
row=1
col=0

